* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d5e1ef;
    font-family: 'outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    text-align: center;
}

.container {
    background-color: white;
    height: 31.19rem;
    max-width: 20rem;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 80px -15px #68778d;
}

.qr-code {
    width: 18rem;
    height: 18rem;
    display: block;
    padding: 1rem;
    border-radius: 10px;   
}

.text {
    margin: 0px 16px 40px;
    width: 18rem;
    height: 8.19rem;
}

.text h2 {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.2;
    margin: 1rem;
    color: #1f314f;
}

.text p {
    line-height: 1.4;
    letter-spacing: 0.0125em;
    font-weight: normal;
    font-size: 1rem;
    color: #68778d;
}

.attribution {
    color: #1f314f;
    font-size: 0.875rem;
}

.attribution a {
     color: hsl(228, 45%, 44%);
     font-size: 1rem;
     }

.attribution a:hover {
    color: #141f72;
}

/* Desktop Style
@media (min-width: 1440px) {
    body {
        width: 100%;
        max-width: 1440px;
        min-height: 100vh; 
        margin: 0 auto;
}
}*/
